Repository DartsArmaMods/MineDetectorFixes, pull requests merged in 2023-11, with the labels that each got.

#2 Main Addon [Example PR]
  .hemtt/scripts/update_build.rhai
  .hemtt/scripts/update_minor.rhai
  addons/Main/$PBOPREFIX$
  addons/Main/addon.toml
  addons/Main/config.cpp
  addons/Main/script_component.hpp
  addons/Main/script_macros.hpp
  addons/Main/script_mod.hpp
  addons/Main/script_version.hpp
  mod.cpp
Labels: area/config, area/tools, status/completed

#3 Root Compat Addon
  .hemtt/project.toml
  addons/Compats/$PBOPREFIX$
  addons/Compats/addon.toml
  addons/Compats/config.cpp
  addons/Compats/script_component.hpp
  addons/Main/config.cpp
  addons/Main/script_macros.hpp
  addons/Main/script_mod.hpp
  extras/compat/CfgWeapons.hpp
  extras/compat/config.cpp
  extras/compat/script_component.hpp
Labels: area/config, status/completed

#6 README Fix, Post Steam Publish changes
  README.md
  Tools/previews.bat
  docs/README.md
Labels: area/config, area/tools, kind/cleanup, status/completed

#7 README Fix, Post Steam Publish changes (Missed Commits)
  logo_mdf_ca.paa
  logo_mdf_ca.png
  meta.cpp
  mod.cpp
Labels: area/config, area/tools, kind/cleanup, status/completed

#9 GitHub Issue/PR Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/compat_needed.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/new_compat.md
Labels: area/tools, status/completed

#10 WBK Lightsabers & Force Commando Blade Compat
  addons/Compats/WBKLightsaber/CfgWeapons.hpp
  addons/Compats/WBKLightsaber/config.cpp
  addons/Compats/WBKLightsaber/script_component.hpp
Labels: area/config, status/completed, kind/new-compat

#11 Example compat fixes
  addons/Compats/JLTS/config.cpp
  addons/Compats/JLTSC/config.cpp
  addons/Compats/WBKLightsaber/config.cpp
  addons/Compats/config.cpp
  extras/compat/config.cpp
Labels: area/config, kind/cleanup, status/completed

#8 Changed download link to Steam
  README.md
Labels: area/tools, kind/cleanup, status/completed

#12 cTab Compatibility Patch
  addons/Compats/CTAB/CfgWeapons.hpp
  addons/Compats/CTAB/config.cpp
  addons/Compats/CTAB/script_component.hpp
Labels: area/config, status/completed, kind/new-compat

#13 ACE Placeables Compat
  addons/Compats/ACE_Placeables/CfgWeapons.hpp
  addons/Compats/ACE_Placeables/config.cpp
  addons/Compats/ACE_Placeables/script_component.hpp
Labels: area/config, status/completed, kind/new-compat

#15 Fix list of patches on README
  docs/README.md
Labels: area/tools, kind/bug-fix, status/completed
